@page "/"
@rendermode InteractiveServer

@using LibrarySystem.Data
@using Microsoft.EntityFrameworkCore
@inject LibraryContext Db

<h1>📚 Bibliotekssystem</h1>

@if (loading)
{
    <p>Laddar...</p>
}
else
{
    <div class="row g-3">
    <div class="col-12 col-md-6 col-lg-3">
        <div class="card p-3">
            <h5>Antal böcker</h5>
            <p class="fs-4">@totalBooks</p>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3">
        <div class="card p-3">
            <h5>Antal medlemmar</h5>
            <p class="fs-4">@totalMembers</p>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3">
        <div class="card p-3">
            <h5>Aktiva lån</h5>
            <p class="fs-4">@activeLoans</p>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3">
        <div class="card p-3">
            <h5>Försenade lån</h5>
            <p class="fs-4">@overdueLoans</p>
        </div>
    </div>
</div>

    <div class="d-flex gap-2">
        <a class="btn btn-primary" href="/books">Böcker</a>
        <a class="btn btn-primary" href="/members">Medlemmar</a>
        <a class="btn btn-primary" href="/loans">Lån</a>
    </div>
}

@code {
    private bool loading = true;
    private int totalBooks;
    private int totalMembers;
    private int activeLoans;
    private int overdueLoans;

    protected override async Task OnInitializedAsync()
    {
        loading = true;

        totalBooks = await Db.Books.CountAsync();
        totalMembers = await Db.Members.CountAsync();
        activeLoans = await Db.Loans.CountAsync(l => l.ReturnDate == null);
        overdueLoans = await Db.Loans.CountAsync(l => l.ReturnDate == null && l.DueDate < DateTime.UtcNow);

        loading = false;
    }
}
